.titulo-conceito {
    color: #606060;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.texto-conceito {
    color: #000000;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
