.cor-fundo {
    background-color: #F3F3F3;
}

.titulo-take-away {
    color: #58595B;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.cardapio {
    text-decoration: none;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    font-family: 'Roboto', sans-serif;
    background-color: #A4A4A4 !important;
}

.imagem {
    @include breakpoints-down(xs) {
        width: 400px;
        margin-left: 20px;
    }
}